.container {
    display: flex;
    flex-wrap: wrap;
}

.sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #222;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
}

.sidenav a {
    padding: 15px 20px;
    text-decoration: none;
    font-size: 18px;
    color: #f2f2f2;
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    background-color: #444;
}

.main {
    flex: 1;
    padding: 60px;
    margin-left: 250px;
}

@media screen and (max-width: 768px) {
    .sidenav {
        padding-top: 15px;
    }
    
    .sidenav a {
        font-size: 16px;
        padding: 10px 16px;
    }
    
    .main {
        margin-left: 0;
        padding: 15px;
    }
}
